#picture_maybe
{
    height: 0px;
    
}

#content_page
{
    padding: 30px;
    text-align: center;
    margin: 10%;
    position: relative;
    animation: opacity_up 6s;
}



#content_page::before
{
    content: "";
    background-color: rgba(0, 89, 255, 0.137);
    background-size: 50px 50px;
    size: 50px 50px;
    width:100%;
    height:100%;
    left:0%;
    top:0%;
    position: absolute;
    z-index: -1;
    filter:blur(50px);
    border-radius: 150px;
}

